---
import { getCollection } from 'astro:content';
import { collections } from '@content/config';
import MainLayout from '@layouts/MainLayout.astro';
import BlogCard from '@components/BlogCard.astro';

export async function getStaticPaths() {

  const pages: any[] = [];

  const colls = Object.keys(collections);

  // Build category pages
  for await (let c of colls) {
    const posts = await getCollection(c as any);
    pages.push({
      params: {
        category: c
      },
      props: {
        category: c,
        posts: posts
      },
    });
  }

  return pages;
}

const param = Astro.params;
const post = Astro.props;
---

<MainLayout
  title={`Blog ${param.category} | Jose Vigil`}
  description={`Jose Vigil's blog about ${post.category}`}
  image=''
>
  <div>
    <p class="dark:text-white">Blog</p>
    <h1 class="text-gradient capitalize dark:text-white">
      {param.category}
    </h1>
  </div>
  <div role="list" class="cards-grid">
    {
      post.posts.map((item: any) => (
        <BlogCard
          title={item.data.title}
          description={item.data.description}
          image={item.data.image}
          pubDate={item.data.pubDate}
          tags={item.data.tags}
        >
        </BlogCard>
      ))
    }
  </div>
</MainLayout>
