---
import { getCollection } from 'astro:content';
import MainLayout from '@layouts/MainLayout.astro';
import Emoji from 'astro-emoji';
import ModalManager from '../components/ModalManager.astro';

const modalImage = undefined;

let essays = await getCollection('essays');
essays = essays.sort((a, b) => {
  if (new Date(a.data.pubDate) < new Date(b.data.pubDate))
    return 1;
  if (new Date(a.data.pubDate) > new Date(b.data.pubDate))
    return -1;
  return 0;
});

let started = await getCollection('started');
started = started.sort((a, b) => {
  if (new Date(a.data.pubDate) < new Date(b.data.pubDate))
    return 1;
  if (new Date(a.data.pubDate) > new Date(b.data.pubDate))
    return -1;
  return 0;
});

let projects = await getCollection('projects');
projects = projects.sort((a, b) => {
  if (new Date(a.data.pubDate) < new Date(b.data.pubDate))
    return 1;
  if (new Date(a.data.pubDate) > new Date(b.data.pubDate))
    return -1;
  return 0;
});

let previous = await getCollection('previous');
previous = previous.sort((a, b) => {
  if (new Date(a.data.pubDate) < new Date(b.data.pubDate))
    return 1;
  if (new Date(a.data.pubDate) > new Date(b.data.pubDate))
    return -1;
  return 0;
});

---

<MainLayout
  title="Home | Jose Vigil"
  description="Jose Vigil's personal and professional website"
  image="../images/josevigil_400x400.png"
>
  <h2 class="dark:text-white">
    I'm Jose
  </h2>
  <section class="grid grid-cols-1 gap-5 lg:grid-cols-3 lg:gap-8">
      <div class="lg:col-span-2">
      <p class="mb-3">
        Curious. Self-Learner. Hands on technology.
      </p>
      <p class="mb-3">
        Currently leading <a href="https://nenes.io" target="_blank">nenes.io</a>, ceo at <a href="https://notimation.com" target="_blank">notimation.com</a>, building <a href="https://uitool.com" target="_blank">uitool.com</a>, working with crypto whyle training talents in our school of genius at <a href="https://maular.com" target="_blank">maular.com</a>. Super exciting trip to join! 🚀</a>
      </p>
      <hr>
      <section>
          <ul>
            <section class="grid grid-cols-2 gap-5 lg:grid-cols-2 lg:gap-8">
              <div class="essays">
                  <h3 class="dark:text-white">
                    Essays
                  </h3>
                <ul>
                  <ul>
                    {
                      essays.map(e => (
                        <li>
                          <a href={`/essays/${e.slug}`} title="">{ e.data.title }</a>
                        </li>
                      ))
                    }
                  </ul>
                </ul>
                <div class="started">
                  <h3 class="dark:text-white">
                    Started
                  </h3>
                  <ul>
                    <section>
                      <div class="started">
                        <ul>
                          {
                            started.map((e, index) => {
                              let arr = e.data.title.split(" ");
                              let last = arr[arr.length-1];
                              //console.log(last)
                              let d = "Design";
                              if (last==d) { last = d + " & Art"; }
                              return (
                                  <li>
                                    <a href={`/started/${e.slug}`} title="">{ last }</a>
                                  </li>
                              );

                            })
                          }
                        </ul>
                      </div>
                    </section>
                  </ul>
                </div>
              </div>
              <div>
                <div class="projects">
                  <h3 class="dark:text-white">
                    Projects
                  </h3>
                  <ul>
                    <section>
                      <div class="projects">
                        <ul>
                          {
                            projects.map(e => (
                              <li>
                                <a href={`/projects/${e.slug}`} title="">{ e.data.title }</a>&nbsp&nbsp<a href={`${e.data.link}`} target="_blank" style="opacity: 0.4;" title="">🔗</a>
                              </li>
                            ))
                          }
                        </ul>
                      </div>
                    </section>
                  </ul>
                </div>
                <div class="previous">
                  <h3 class="dark:text-white">
                    Previous
                  </h3>
                  <ul>
                    <section>
                      <div class="previous">
                        <ul>
                          {
                            previous.map(e => (
                              <li>
                                <a href={`/previous/${e.slug}`} title="">{ e.data.title }</a>
                              </li>
                            ))
                          }
                        </ul>
                      </div>
                    </section>
                  </ul>
                </div>
              </div>
            </section>
          </ul>


      </section>
    </div>
    <div class="order-first md:order-last">
      <img src="../images/josevigil_400x400.png" class="rounded-full m-auto" alt="Jose Vigil" />
      <p class="text-lg dark:text-white text-center mt-3">Creative, living my dreams ..<Emoji symbol="💭" label="dream"/></p>
    </div>
  </section>
   <!-- Render the ModalManager component with modalImage prop -->
  <ModalManager {modalImage} />
</MainLayout>
