---
const { sort } = Astro.props;
---

<j-chrono data-sort={sort}></j-chrono>

<script>

import { toJDate } from "pfunc";
import { type DateObj } from "pfunc";
import { type CollObj } from "pfunc";
import { getColorFromCollectionName } from "pfunc";
import { getCollection } from 'astro:content';


let essays   = await getCollection('essays');
let projects = await getCollection('projects');
let previous = await getCollection('previous');
let started  = await getCollection('started');

  class JChrono extends HTMLElement {

    public renderDates(value:DateObj) {

      let url = value.url;
      let day = value.day;
      let period = value.period;
      let title = value.title;
      let desc = value.desc;
      let img = value.img;
      let location = value.location;
      let map = value.map;
      let color = value.color;

      let mDate = toJDate(day, period);

      let jdate = `
        <a href="${url}">
          <h8 id="${url}" title="${title}">📅&nbsp;${mDate}</h8>
        </a>
        <h5 style="color:${color}">${title}</h5>`;

      let lm:string = "";
      if (location) {
        lm = `<p style="font-style: italic;">${location}<a href="${map}" target="_blank">📍</a></p><br/>`;
      }

      let im:string = "";
      if (img != null) {
        //console.log("img: " + img)
        jdate = jdate + `<table>
            <tr>
                <td>
                    <a href="${img}" target="_blank"><img src="${img}" style="padding-right:20px;" pl="20" width="200px"></img></a>
                </td>
                <td>
                  <p style="width: 500px;">${desc}</p>
                  ${lm}
                </td>
            </tr>
        </table><br/>`;
      } else {
        jdate = jdate + `<p>${desc}</p>` + lm;
      }
      const idiv = document.createElement('div') as HTMLDivElement;
      idiv.innerHTML = jdate;
      return idiv;
    }

    public renderPostByArticle(post:any, div:HTMLDivElement) {

        let title = post.data.title;

        let b = document.createElement('br') as HTMLBRElement;
        let h2 = document.createElement('h2') as HTMLHeadElement;
        let ol = document.createElement('ol') as HTMLOListElement;

        h2.textContent = title;
        //console.log("title: " + title);
        div.appendChild(h2);
        div.appendChild(b);

        let dates:Record<string, Object> = post.data.dates as Record<string, Object>;

        for (const key in dates) {

            const value:CollObj = dates[key] as CollObj;

            //console.log(key + ': ' + JSON.stringify(value));

            let data:DateObj = value.date as DateObj;

            let idiv = this.renderDates(data);

            ol.appendChild(idiv);
        }

        div.appendChild(ol);
    }

    constructor() {
      super();

      let sort = this.dataset.sort;

      //console.log("sort: " + sort);

      const div = document.createElement('div') as HTMLDivElement;

      switch (sort) {
        case 'essays':
          essays.map(async post => {
            this.renderPostByArticle(post, div);
          });
          break;
        case 'projects':
          projects.map(async post => {
            this.renderPostByArticle(post, div);
          });
          break;
        case 'previous':
          previous.map(async post => {
            this.renderPostByArticle(post, div);
          });
          break;
        case 'started':
          started.map(async post => {
            this.renderPostByArticle(post, div);
          });
        case 'all':
          let posts = [...essays, ...projects, ...previous, ...started];
          var allDates:DateObj[] = [];
          posts.map(async post => {
            let color =  getColorFromCollectionName(post.collection);
            let dates:Record<string, Object> = post.data.dates as Record<string, Object>;
            for (const key in dates) {
              const date:DateObj = dates[key] as DateObj;
              date.color = color;
              allDates.push(date);
            }
          });
          allDates = allDates.sort((a, b) => {
            if (new Date(a.day) < new Date(b.day))
              return 1;
            if (new Date(a.day) > new Date(b.day))
              return -1;
            return 0;
          });

          let adiv = document.createElement('div') as HTMLDivElement;

          allDates.map(async date => {
            let idiv = this.renderDates(date);
            adiv.appendChild(idiv);
          });
          div.appendChild(adiv);
          break;
      }
      this.appendChild(div);
    }
  }
customElements.define('j-chrono', JChrono);
</script>
