---
const { data } = Astro.props;
---

<j-date data-jdata={JSON.stringify(data)}></j-date>

<script>

import { toJDate } from "pfunc";

  class JDate extends HTMLElement {
    constructor() {
      super();

      let data:JDate.DayObj = JSON.parse(this.dataset.jdata!) as JDate.DayObj;

      let d:Date = new Date(data.day) as Date;

      let period = data.period;

      console.log("d: " + typeof d)

      let mDate = toJDate(d, period);

      console.log("mDate: "  + mDate);

      let url = "/dates/chronology#" + data.alt;

      let html = `<a id="${data.alt}" href="${url}" target="_blank"><b><p title="${data.title}">📅&nbsp;${mDate}.&nbsp;</p></b></a>`;

      const div = document.createElement('div') as HTMLDivElement;
      div.setAttribute("style", "float:left");
      div.innerHTML = html;

      this.appendChild(div);

      /*link!.addEventListener('click', () => {
        //window.open(url);
      });*/

    }
}
namespace JDate {
  export interface DayObj {
    alt : string;
    day : Date;
    period : string;
    title: string;
    desc: string;
    img: string;
    location: string;
    map: string;
  }
}
customElements.define('j-date', JDate);
</script>
